@model TeacherCrud.Models.Teacher

@{
    ViewBag.Title = "DeleteConfirm";
}


<div id="containershow">
    <nav>
        <a class="navlink button" href="/Teacher/Show/@Model.teacherid">Cancel</a>
    </nav>
    <h2>Are you sure you want to delete @Model.teacherfname @Model.teacherlname?</h2>
    <h3>To maintain referential integrity of the database, courses which are being taught by this teacher would also be deleted. (Initiative Activity)</h3>
    <p>This action cannot be undone.</p>
    <form method="POST" action="/Teacher/Delete/@Model.teacherid">
        <button class="delbutton">
            Confirm Delete
        </button>
    </form>
</div>