
@{
    ViewBag.Title = "InputError";
}

<div id="containerlist">
    <nav>
        <a class="navlink" href="/Teacher/New">Return to Add New Teacher</a>
    </nav>
</div>

<h2>Input Error</h2>
<p>Please enter all the information about the teacher. You did not put one of these information: first name, last name, employee number.</p>
