@model IEnumerable<TeacherCrud.Models.Teacher>

@{
    ViewBag.Title = "List";
}



<div class="containerlist">
    <nav>
        <a class="navlink button" href="/Teacher/New">Add New Teacher</a>
        <a class="navlink button" href="/Teacher/AjaxNew">Add New Teacher (AJAX)</a>
    </nav>
    <h2>List of Teachers</h2>
    <form action="/Teacher/List" method="GET">
        <input type="text" name="SearchKey" autocomplete="off" />
        <input type="submit" value="Search" />
    </form>

    @foreach (var teacher in Model)
    {
        <div class="listitem row">
            <div class="col-md-12"><a href="/Teacher/Show/@teacher.teacherid">@teacher.teacherfname @teacher.teacherlname</a></div>
        </div>
    }

</div>