
@model TeacherCrud.Models.Teacher

@{
    ViewBag.Title = "Show";
}

<div id="containershow">
    <nav>
        <div><a class="navlink button" href="/Teacher/List">List of Teachers</a></div>
        <div><a class="navlink button" href="/Teacher/Update/@Model.teacherid"> Update Teacher</a></div>
        <div><a class="navlink button" href="/Teacher/AjaxUpdate/@Model.teacherid"> AJAX Update</a></div>
        <div class="dellink"><a class="navlink button" href="/Teacher/DeleteConfirm/@Model.teacherid">Delete Teacher</a></div>
    </nav>
    <h2>@Model.teacherfname @Model.teacherlname</h2>
    <p>Joined Since @Model.hiredate.ToString("dd-MMM-yyyy")</p>
    <p>Employee Number: @Model.employeenumber</p>
</div>

